.underline-blue {
  position: relative;
  display: inline-block;
}

.underline-blue::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: blue;
}
