<app-navbar></app-navbar>
<div class="container mx-auto mt-8">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">Paiement de facture</h2>
  <div *ngIf="biller && bill" class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md">
    <div class="flex items-center mb-6">
      <img [src]="biller.icon" alt="{{ biller.name }}" class="w-16 h-16 rounded-full mr-4">
      <div>
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">{{ biller.name }}</h3>
        <p class="text-gray-600 dark:text-gray-400">{{ biller.description }}</p>
      </div>
    </div>
    <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">Récapitulatif des informations saisies</h3>
    <div class="bg-gray-50 dark:bg-gray-700 p-4 rounded-lg">
      <p class="text-gray-900 dark:text-white"><strong>Référence:</strong> {{ bill.id }}</p>
      <p class="text-gray-900 dark:text-white"><strong>Description:</strong> {{ bill.description }}</p>
      <p class="text-gray-900 dark:text-white"><strong>Montant:</strong> {{ bill.amount }}</p>
    </div>
    <div class="flex justify-end space-x-4 mt-6">
      <button (click)="cancelPayment()" class="px-4 py-2 bg-gray-200 rounded-lg dark:bg-gray-700 dark:text-white">Abandonner la transaction</button>
      <button (click)="confirmPayment()" class="px-4 py-2 bg-yellow-500 text-white rounded-lg">Confirmer et Signer</button>
    </div>
  </div>
</div>
